.background {
  viewport-fill: red;
}

#myLabel {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 30%;
  y: 70%+40;
  fill: black;
}
#text{
  fill: black;
}